<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Sunarc\OrderStatus\Api\Data\OrderStatusInterface" type="Sunarc\OrderStatus\Model\OrderStatus"/>

    <preference for="Sunarc\OrderStatus\Api\OrderStatusRepositoryInterface" type="Sunarc\OrderStatus\Model\OrderStatusRepository"/>

</config>