<?xml version="1.0"?>
<!--
/**
 * Sunarc_OrderStatus extension
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the SunArc Technologies License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://sunarctechnologies.com/end-user-agreement/
 * 
 * @category  Sunarc
 * @package   Sunarc_OrderStatus
 * @copyright Copyright (c) 2017
 * @license
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sunarc_OrderStatus" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
